@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

$redHatFont: 'Red Hat Display', sans-serif;

$redHatW500: 500;
$redHatW700: 700;
$redHatW900: 900;

$sizeParagraph: 16px;
